@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

html{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D192C;
}

.card-div{
  width: 32.4rem;
  min-height: 54.3rem;
  padding: 2rem;
  background-color: #15263F;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}